.notification {
    position: absolute;
    z-index: 9999;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: opacity 1s;
    color: #fff;
    opacity: 0;
    pointer-events: none;
}

.notification-show {
    opacity: 1;
}

.notification-hide {
    opacity: 0;
}

.notification-success {
    background-color: #4CAF50;
}

.notification-error {
    background-color: #f44336;
}

.notification-warning {
    background-color: #ff9800;
}

.notification-info {
    background-color: #2196F3;
}